body {
  font-family: 'Montserrat', sans-serif;
  
  vertical-align: middle;   
}

.container {
  width: 1200px;  
  margin:0 auto;
}

.info {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .info {
     font-size: 15px;
    /* flex-direction: column;     */
  }

   .body {
    
   }

  .container {
    width: 100%;
  }

  .lives {
    /* text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; */
    display: none;
  }

  .points {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .time {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .title {
    display: none;
  }

  .main {
    width: 100%;
    height: 530px;
    outline: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: tomato;
    color: #fff;
    transform: translatey(-100%);
    transition: transform 250ms ease-in-out;
  }

  .alert.is-visible {
    transform: translatey(100%);
  }
}

.info p:not(:nth-child(3)) {
  padding: 10px 30px;
  border: 1px solid;
  border-radius: 5%;
  margin-right: 5px;  
}

p:not(:nth-child(2)) {
  border-color: red;
}

p:first-child {
  background: lightgreen;
}

.title {
  text-transform: uppercase;
  padding: 10px 180px;
  font-weight: bold;  
}

@media screen and (min-width: 1201px) {
  .main {
    width: 1200px;
    height: 530px;
    outline: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: tomato;
    color: #fff;
    transform: translatey(-100%);
    transition: transform 250ms ease-in-out;
  }

  .alert.is-visible {
    transform: translatey(250%);
  }
}

.item {
  padding: 0;
  margin: 10px;
  border: 1px solid;
  border-radius: 4px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.squares {
  margin-top: 15px;
  margin-bottom: 35px;
  width: 400px;
  height: 400px;
  text-align: center;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  background-color: white;
  width: 150px;
  padding: 10px 30px;
  border: 1px solid;
  border-radius: 3%;
  margin-right: 5px;
  font-size: 30px;
  cursor: pointer;
}



